/*
Theme Name: TAIGA
Author: Fuzz Interactive
Author URI: http://fuzzinteractive.com/
Description: A simple video portfolio.
Version: 1.0

*/

html {
	font-size: 100%;
}

body {
    background: #000;
    font-family: 'Droid Serif', serif;
    font-size: 18px;
 	line-height: 26px;
	margin:0;
	padding:0;
	}

h1,h2,h3,h4,h5,h6 {
 font-family: inherit;
 font-size: inherit;
}

h1 {
	font: normal 4em "alternate-gothic-no-3-d",sans-serif;
	text-transform: uppercase;
	opacity: .8;
	color: #45d38c;
	line-height: .8em;
}

h2 {
	font: normal 2em "alternate-gothic-no-3-d",sans-serif;
	text-transform: uppercase;
	color: #a7a7a7;
	line-height: 1em;
	letter-spacing: .05em;
}

h3 {
	font: normal 1em "alternate-gothic-no-3-d",sans-serif;
	text-transform: uppercase;
	color: #a7a7a7;
	line-height: 1em;
	letter-spacing: .05em;
}

h4 {
	font: normal .5em 'Droid Serif', serif;
	opacity: .5;
	color: #fff;
	letter-spacing: .03em;
	line-height: 1.2em;
}

h5 {
	font: normal .5em 'Droid Serif', serif;
	color: #a7a7a7;
	letter-spacing: .03em;
	line-height: 1.2em;

}

#identity {
	background: url('images/TAIGAident.png') no-repeat;
	width: 225px;
	height: 129px;
	left: 0;
	right: 0;
	margin: 20% auto;	
	position:fixed;
	z-index: 1;
}

.arrow {
    opacity: .5;
	width: 50px;
	height: 25px;
	left: 0;
	right: 0;
	margin: 25% auto;	
	position: fixed;
	-o-transition: opacity 0.3s linear;
	-moz-transition: opacity 0.3s linear;
	-khtml-transition: opacity 0.3s linear;
	-webkit-transition: opacity 0.3s linear;
	-ms-transition: opacity 0.3s linear;
	transition: opacity 0.3s linear;
}

.arrow:hover {
	opacity: 1;
}

#introcopy {
	display: none;
	width: 30%;
	height: 129px;
	left: 0;
	right: 0;
	text-align: center;
	margin: 35% auto;	
	position:fixed;
	z-index: 1;
}
	
#header {
	height: 600px;
	position: relative;
	z-index: 2;
	}
	
	* {
		margin: 0;
		padding: 0;
	}

	ul {
		margin-top: 5%;
		width:100%;
		position: fixed;
		z-index: 9999;
	}

	li {
		font: normal .5em 'Droid Serif', serif;
		color: #fff;
		width:33%;
		float:left;
		border-right: 1px solid #eee;
	}
	li:last-child {
		border-right:none;
	}

	li a {
		display: block;
        margin-left: 10%;
		width:80%;
        border-bottom: #000;
		padding: 2%;
		font-size:.8em;
		color: #45d38c;
		text-decoration: none;
	}

	li a:hover {
        background:#fff;
		color: #000;
        opacity: 1;
	}

		#tree {
			margin: 1.5% 0 0 1.5%;
			width: 4%;
			height: 6%;
			display: block;
			font-size:1em;
			text-align: center;
			position: fixed;
			z-index: 9999;
			-o-transition: opacity 0.3s linear;
			-moz-transition: opacity 0.3s linear;
			-khtml-transition: opacity 0.3s linear;
			-webkit-transition: opacity 0.3s linear;
			-ms-transition: opacity 0.3s linear;
			transition: opacity 0.3s linear;
		}
		#tree:hover {
			opacity: .5;
		}
		#nav.js {
			display: none;
		}
		ul {
			width:20%;
		}
		li {
			width:100%;
			border-right:none;
		}
	
#videowrapper {
	position: absolute;
	z-index: 1000;
}

.slidetitle {
    position: absolute;
    z-index: 0;
}

.rsBtnCenterer {
    z-index: 10;
}

p {
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	}

#footercover {
    width: 100%;
    height: 100%;
    padding: 3em 0 3em 0;
    background: url('images/contact_dark.jpg') no-repeat;
    -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

footer {
}

footer p {
    text-align:center;
}

.contactcopy {
    text-align: center;
    color: #fff;
    opacity: .7;
    width: 520px;
    padding: 3em;
    margin: 0 auto;
}

.contactcopyL {
    font: normal 1em 'Droid Serif', serif;
}

.contactcopyS {
    font: normal .6em 'Droid Serif', serif;
}

.contactcopy a {
    color: #45d38c;
    text-decoration: none;
    -o-transition: opacity 0.3s linear;
	-moz-transition: opacity 0.3s linear;
	-khtml-transition: opacity 0.3s linear;
	-webkit-transition: opacity 0.3s linear;
	-ms-transition: opacity 0.3s linear;
	transition: opacity 0.3s linear;
}

.contactcopy a:hover {
    opacity: .5;
}

.footcopy {
    font: normal .3em 'Droid Serif', serif;
    color: #fff;
    opacity: .7;
}

.footcopy a {
	font-weight: normal;
	color: #FF0042;
	text-decoration: none;
    -o-transition: opacity 0.3s linear;
	-moz-transition: opacity 0.3s linear;
	-khtml-transition: opacity 0.3s linear;
	-webkit-transition: opacity 0.3s linear;
	-ms-transition: opacity 0.3s linear;
	transition: opacity 0.3s linear;
}

.footcopy a:hover {
    opacity: .5;
}

#cover {
	max-height:100%;
	display: none;
}

#cover img {
	max-width: 100%;
}

/*
Sequence
*/

.street-view > img,
.street-view > video {
	width: 100%;
	height: 100%;
}

/*
Media Queries
*/

@media screen and (min-width: 320px) and (max-width: 1024px) {
  #main { display: none; } 
  .arrow {display:none;}
  #tree {display: none;}
  #cover { display: block; }
  #identity {margin: 20% auto;}
}